<div class='page-header'>
  <h1>
    <%= t('Listing Admin::StudentEvents') %> (<%= @count_admin_student_events %>)  <small><%= @admin_student_event %></small>
    <div class='pull-right'>
      <%= link_to new_admin_student_event_path(), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-plus'></i> <%= t('New Admin::StudentEvent') %>
      <% end %>
    </div>
  </h1>
</div>

<table class='table table-responsive table-hover table-stripped' id='admin_student_events'>
  <thead>
  <tr>
      <th>StudentId</th>
      <th>EventId</th>
    <th></th>
  </tr>

  </thead>

  <tbody>
    <% @admin_student_events.each do |admin_student_event| %>
    <tr>
        <td><%= admin_student_event.student_id %></td>
        <td><%= admin_student_event.event_id %></td>
      <td class='actions text-center'>
        <%= link_to t('Show'), admin_student_event_path(admin_student_event), class: 'btn btn-sm btn-info' %>
        <%= link_to t('Edit'), edit_admin_student_event_path(admin_student_event), class: 'btn btn-sm btn-warning' %>
        <%= link_to t('Destroy'), admin_student_event_path(admin_student_event), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: t('Are you sure?') } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<!--%%= paginate @admin_student_events %-->