<div class='page-header'>
  <h1>
    <%= t('Listing Admin::Students') %> (<%= @count_admin_students %>)  <small><%= @admin_student %></small>
    <div class='pull-right'>
      <%= link_to new_admin_student_path(), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-plus'></i> <%= t('New Admin::Student') %>
      <% end %>
    </div>
  </h1>
</div>

<table class='table table-responsive table-hover table-stripped' id='admin_students'>
  <thead>
  <tr>
      <th>Nome</th>
      <th>Telefone</th>
      <th>Endereço</th>
      <th>Identidade</th>
      <th>CPF</th>
      <th>Nascimento</th>
    <th></th>
  </tr>

  </thead>

  <tbody>
    <% @admin_students.each do |admin_student| %>
    <tr>
        <td><%= admin_student.person.name %></td>
        <td><%= admin_student.person.phone %></td>
        <td><%= admin_student.person.address %></td>
        <td><%= admin_student.person.identity %></td>
        <td><%= admin_student.person.cpf %></td>
        <td><%= admin_student.person.birth %></td>
      <td class='actions text-center'>
        <%= link_to t('Show'), admin_student_path(admin_student), class: 'btn btn-sm btn-info' %>
        <%= link_to t('Edit'), edit_admin_student_path(admin_student), class: 'btn btn-sm btn-warning' %>
        <%= link_to t('Destroy'), admin_student_path(admin_student), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: t('Are you sure?') } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<!--%%= paginate @admin_students %-->