<div class='page-header'>
  <h1>
    <%= t('Admin::student Info') %>
    <div class='pull-right'>
      <%= link_to edit_admin_student_path(@admin_student), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-pencil'></i> <%= t('Edit') %>
      <% end %>
      <%= link_to admin_students_path, class: 'btn btn-warning' do %>
        <i class='glyphicon glyphicon-backward'></i> <%= t('Back') %>
      <% end %>
    </div>
  </h1>
</div>

<div class='panel panel-default'>
  <div class='panel-body'>
    <p>
      <strong>Registration file name</strong>
      <%= @admin_student.registration_file_name %>
    </p>
    <p>
      <strong>Registration content type</strong>
      <%= @admin_student.registration_content_type %>
    </p>
    <p>
      <strong>Registration file size</strong>
      <%= @admin_student.registration_file_size %>
    </p>
    <p>
      <strong>Registration updated at</strong>
      <%= @admin_student.registration_updated_at %>
    </p>
    <p>
      <strong>Person</strong>
      <%= @admin_student.person %>
    </p>
  </div>
</div>
