<div class='page-header'>
  <h1>
    <%= t('Admin::driver Info') %>
    <div class='pull-right'>
      <%= link_to edit_admin_driver_path(@admin_driver), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-pencil'></i> <%= t('Edit') %>
      <% end %>
      <%= link_to admin_drivers_path, class: 'btn btn-warning' do %>
        <i class='glyphicon glyphicon-backward'></i> <%= t('Back') %>
      <% end %>
    </div>
  </h1>
</div>

<div class='panel panel-default'>
  <div class='panel-body'>
    <p>
      <strong><%=t("Name")%></strong>
      <%= @admin_driver.name %>
    </p>
    <p>
      <strong><%=t("Cnh")%></strong>
      <%= @admin_driver.cnh %>
    </p>
    <p>
      <strong><%=t("Category")%></strong>
      <%= @admin_driver.category %>
    </p>
    <p>
      <strong><%=t("Rg")%></strong>
      <%= @admin_driver.rg %>
    </p>
    <p>
      <strong><%=t("Cpf")%></strong>
      <%= @admin_driver.cpf %>
    </p>
    <p>
      <strong><%=t("Vehicle")%></strong>
      <%= @admin_driver.vehicle %>
    </p>
  </div>
</div>
