<div class='page-header'>
  <h1>
    <%= t('Listing Admin::People') %> (<%= @count_admin_people %>)  <small><%= @admin_person %></small>
    <div class='pull-right'>
      <%= link_to new_admin_person_path(), class: 'btn btn-info' do %>
        <i class='glyphicon glyphicon-plus'></i> <%= t('New Admin::Person') %>
      <% end %>
    </div>
  </h1>
</div>

<table class='table table-responsive table-hover table-stripped' id='admin_people'>
  <thead>
  <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Identity</th>
      <th>Cpf</th>
      <th>Birth</th>
    <th></th>
  </tr>

  </thead>

  <tbody>
    <% @admin_people.each do |admin_person| %>
    <tr>
        <td><%= admin_person.name %></td>
        <td><%= admin_person.phone %></td>
        <td><%= admin_person.address %></td>
        <td><%= admin_person.identity %></td>
        <td><%= admin_person.cpf %></td>
        <td><%= admin_person.birth %></td>
      <td class='actions text-center'>
        <%= link_to t('Show'), admin_person_path(admin_person), class: 'btn btn-sm btn-info' %>
        <%= link_to t('Edit'), edit_admin_person_path(admin_person), class: 'btn btn-sm btn-warning' %>
        <%= link_to t('Destroy'), admin_person_path(admin_person), method: :delete, class: 'btn btn-sm btn-danger', data: { confirm: t('Are you sure?') } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<!--%%= paginate @admin_people %-->