<%= simple_form_for [:admin, @admin_travel], wrapper: :horizontal_form do |f| %>
  <%= f.error_notification %>
<div class="form-horizontal col-sm-offset-1 col-sm-14">
  <div class="panel panel-info">
  <div class="panel-heading ">Cadastro de Viagem</div>
    <div class="panel-body">
      <div class="form-inputs">
          <%= f.input :name %>
          <%= f.input :description %>
          <%= f.input :day, input_html: { date: "daterange" }, as: :string %>
      </div>

      <div class="form-actions">
          <%= f.button :submit, class: "btn btn-info" %>
      </div>
    </div>  
  </div>
</div>     
<% end %>