<!DOCTYPE html>
<html>
  <head>
    <title><%=t("TravelIff")%></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
  <body>
    <%= render 'layouts/navigation' %>
    <%= render 'layouts/messages' %>
    <%= render 'layouts/side_bar' unless current_page?(new_user_registration_path) || current_page?(new_user_session_path) || current_page?(user_session_path) || current_page?(new_user_password_path) || current_page?(edit_user_password_path) || current_page?(user_password_path) || current_page?(edit_user_registration_path) || current_page?(user_registration_path) || current_page?(new_user_confirmation_path) || current_page?(user_confirmation_path) || current_page?(users_path) || current_page?(new_user_path)%> 
    <%= yield %>
  </body>
</html>
